bin/
bin/*
logs/
logs/*
libs/
libs/*
debug/
debug/*
output/
output/*
out/production/
out/production/*
out/test/
out/test/*
test/
test/*
src/main/resources/
src/main/resources/*
src/test/resources/
src/test/resources/*
